/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS variables */
:root {
    --primary-font: "Zalando Sans Expanded", sans-serif;
    --secondary-font: "Manrope", sans-serif;
    --primary-color: #0B0D12;
    --seconday-color: #141622;
    --accent-color: #8F87FF;
}


body {
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    color: white;
    margin: 10px 20px;

}

.brand {
    color: white;
    font-family: var(--primary-font);
    font-weight: 600;
}

.navbar {
    background-color: var(--secondary-color);
    border: 3px solid var(--accent-color);
    border-radius: 50px;
    margin: 10px 20px;
    padding-left: 10px;
}

.nav-bar-btn {
    background-color: var(--accent-color);
    margin-right: 2px;
}

#about{
    color: white;
}

.card{
    border-radius: 20px;
}