/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS variables */
:root {
    --primary-font: "Zalando Sans Expanded", sans-serif;
    --secondary-font: "Manrope", sans-serif;
    --accent-font: "Anton", sans-serif;
    --primary-color: #F5F3FF;
    --secondary-color: #FFFFFF;
    --accent-color: #7C3AED;
    --secondary-accent: #EDE9FE;
    --primaty-text-color: #111827;
    --secondary-text-color: #374151;
}


body {
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    color: var(--primaty-text-color);
    padding: 10px 20px;
}

.divider{
    margin: 50px 0;
}

.active{
    color: var(--secondary-accent);
}

.btn-edit{
    background-color: var(--secondary-text-color);
    border: var(--secondary-text-color)
}

.btn-edit:hover{
    background-color: var(--primary-color);
    border: var(--primaty-text-color);
    color: var(--primaty-text-color)
}

button.dropdown-toggle{
    width: 134px;
}

#hidden{
    display: none;
}
/* Hero section */
#hero-title{
    color: var(--primaty-text-color);
    font-family: var(--accent-font);
}


#hero-sub{
    color: var(--accent-color);
    font-family: var(--accent-font);
    letter-spacing: 2px;
    font-weight: bolder;
}

#hero-p{
    color: var(--secondary-text-color);
}


/* Navbar */

.navbar-collapse {
    position: relative;
    top: 5px;
    z-index: 3;
    background-color: var(--primary-color);
}

.brand {
    color: var(--primaty-text-color);
    font-family: var(--primary-font);
    font-weight: 600;
}

.brand:hover{
    color: var(--accent-color);
    font-weight: bolder;
}

.navbar {
    font-weight: bolder;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-text-color);
    padding-left: 10px;
    margin-bottom: 10px;
}

.nav-bar-btn {
    background-color: var(--secondary-text-color);
    margin-right: 2px;
    border: 1px solid var(--secondary-color);
}

.nav-bar-btn:hover{
    background-color: var(--accent-color);
    color: var(--secondary-accent);
    border: var(--accent-color)
}

#nav-container{
    margin-left: 0px;
    margin-right: 0px;
}

.nav-link{
    color: var(--secondary-text-color);
}


.nav-link:hover{
    font-weight: bolder;
    color: var(--accent-color);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--accent-color);
}


#login-confirm{
    color: var(--primaty-text-color);
}

/* Market */
.card{
    border-radius: 16px;
    border: var(--secondary-text-color) solid 1px;
    box-shadow:
    0 4px 12px rgba(0,0,0,0.25);

}

.mentor-card {
    max-width: 280px;
    margin: 0 auto; /* centers cards */
    border-radius: 16px;
    overflow: hidden;
}


img .profile-image{
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
}

.card-btn{
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--primaty-text-color);
}

.btn:hover{
    background-color: var(--secondary-text-color);
    color: var(--primary-color);
    border: var(--secondary-text-color);
}

.page-link{
    border-radius: 20px;
    background-color: white;
    color: black;
}

.page-link:hover{
    background-color: var(--secondary-text-color);
    color: var(--primary-color);
    border: var(--secondary-text-color);
}

/* About section */
#about{
    color: var(--primaty-text-color);
    background-color: var(--secondary-accent);
    border-radius: 20px;
    max-width: 1000px;
    padding: 10px 10px;
    margin: 0 auto;
    box-shadow:
    0 4px 12px rgba(0,0,0,0.75);
}

/* How to */
#how-to{
    background-color: var(--secondary-accent);
    color: var(--primaty-text-color);
    border-radius: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 10px;
    box-shadow:
    0 4px 12px rgba(0,0,0,0.75);
}

.visitor-div{
    border: 1px solid var(--secondary-accent);
    border-radius: 20px;
    max-width: 500px;
    padding: 20px 20px;
    box-shadow:
    0 4px 12px rgba(0,0,0,0.25);
    background-color: white;
}

.mentor-div{
     border: 1px solid var(--secondary-accent);
     border-radius: 20px;
     max-width: 500px;
     padding: 20px 20px;
     box-shadow:
     0 4px 12px rgba(0,0,0,0.25);
     background-color: white;
}

/* Profile_view */

#intro{
    margin-top: 50px;
    padding-top: 4rem;
    height: 30vh;
    background-color: var(--secondary-text-color);
    border-radius: 20px;
}

#detailed-image{
    border-radius: 20px;  
    object-fit: cover;
    
}

#detailed-profile-image{
    border-radius: 20px; 
    object-fit: cover;
    position: relative;
    bottom: 2px;
}

#bio-box{
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 20px 20px;
}

/* Footer */
#footer{
    background-color: var(--secondary-text-color);
    color: var(--secondary-accent);
    margin-top: 50px;
}

/* Media queries */

@media screen and (max-width: 320px) {
    .navbar-toggler{
        position: relative;
        left: 200px;
        bottom: 40px;
    }

    .navbar{
        height: 50px;
    }

    .brand{
        margin-right: 0px;
    }

    #detailed-profile-image{
        height: 256px;
        width: 256px;  
        padding-bottom: 10px;
    }

    .btn-edit{
        margin-bottom: 10px;;
    }

}

@media screen and (max-width: 921px) {

    .navbar-toggler{
        border: none;
    }

}

@media screen and (min-width: 321px) and (max-width: 767px) {
   #skills{
       position: relative;
       top: 50px;
   }

   #detailed-profile-image{
        height: 290px;
        width: 290px;  
        padding-bottom: 10px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1440px) {
     #skills{
       position: relative;
       top: 50px;
   }

   #detailed-profile-image{
        height: 300px;
        width: 300px;  
    }

}