{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}
<!-- set availability -->
<section id="availability">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-12">
                {% if user.is_authenticated %}
                <h3 class="text-center">
                    {% if slot %}
                    Update your availability{% else %}Set your availability
                    {% endif %}
                </h3>
                <form method="post">
                    {% csrf_token %}
                    {{ availability_form|crispy }}
                    <button type="submit" class="btn btn-signup btn-primary nav-bar-btn">{% if slot %} Update {% else %} Submit {% endif %}</button>
                    {% if slot %}
                    <!-- Button to activate modal to delete availability -->
                    <button type="button" class="btn btn-secondary" id="delete-slot" data-slot-id="{{ slot.id }}">
                        Delete</button>
                    {% endif %}
                </form>
                {% endif %}

            </div>
        </div>
    </div>
</section>
<!-- Display avaiability -->
<section id="avilability">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <hr class="divider">
                <h2 class="my-4">Manage your availability</h2>
                <p>Select your slot to update or delete your time slots</p>
                {% for date, slots in grouped_by_date.items %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{date}}
                    </button>
                    <ul class="dropdown-menu">
                        {% for slot in slots %}
                        <!-- Enable edit function upon clicking the slot -->
                        <li><a class="dropdown-item" href="{% url 'edit_availability' slot.id %}">{{slot.start_time}} -
                                {{slot.end_time}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Confirmation modal on delete -->
<div class="modal" tabindex="-1" id="modalDeleteAvailability">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete this slot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this time slot?</p>
            </div>
            <div class="modal-footer">        
                <a type="button" class="btn btn-secondary" href="#" id="availability-delete-confirm">Yes,
                    Delete</a> 
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Take me back</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% block extras %}
<script src="{% static 'js/availability_delete.js' %}"></script>
{% endblock %}