{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block profile %}
<!-- hero section -->
<section id="hero" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 id="hero-title" class="display-2">
                    <strong>Where Real Guidance Meets</strong>
                </h2>
                <div id="hero-sub" class="display-2 mb-4">
                    <strong> Real People</strong>
                </div>
                <p id="hero-p">Connect with experienced professionals who understand your journey.<br>
                    Get personalized mentorship to accelerate your career growth.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- index.html content starts here, code institute code reused and adjusted-->
<div class="container">
    <div class="row">
        <!-- Profile Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for profile in profile_list %}
                <div class="col-sm-6 col-md-4 col-lg-3 d-flex my-4 justify-content-evenly">
                    <div class="card mentor-card">
                        {% if "placeholder" in profile.featured_image.url %}
                        <img src="{% static 'images/nobody.jpg' %}" class="profile-image" alt="Placeholder Image">
                        {% else %}
                        <!-- Genereate cloudinary url to serve optimised image formats and improve LCP performance -->
                        {% cloudinary_url profile.featured_image width=278 height=278 crop="fill" gravity="auto" quality="auto" fetch_format="auto" dpr="auto" as img_url %}
                        {% if forloop.counter == 1 %}
                        <img src="{{ img_url }}" class="profile-image" alt="Profile Image" fetchpriority="high"
                            loading="eager" width="278" height="278">
                        {% else %}
                        <img src="{{ img_url }}" class="profile-image" alt="Profile Image" loading="lazy" width="278"
                            height="278">
                        {% endif %}
                        {% endif %}
                        <div class="card-body text-center d-flex flex-column">
                            <p class="card-title text-muted">Name: {{ profile.name }}</p>
                            <p class="card-text">{{ profile.excerpt }}</p>
                            <a href="{% url 'profile_detail' profile.slug %}"
                                class="btn btn-primary mt-auto card-btn">Go to Profile</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:8 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<!-- About section -->
<section id="about" class="mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="my-4">About Mentor Market:</h2>
                <p>
                    Mentor Market connects aspiring developers with experienced coding mentors.
                </p>
                <p>
                    Learning to code can feel overwhelming — especially when you don’t know who to ask.
                    Mentor Market was created to give you direct access to real developers who have already
                    navigated the challenges you are facing.
                </p>
                <p>
                    Instead of generic tutorials or endless forums, you can speak to someone who understands
                    your goals, your blockers, and your journey into tech.
                </p>
                <p>
                    Mentors share their expertise, set their availability and offer 1:1 guidance.
                    Visitors can explore profiles, choose a time slot, and book a session with ease.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- How to section -->
<section id="how-to" class="divider px-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="my-4">How Mentor Market works:</h2>
                <div class="row justify-content-center">
                    <div class="col-12 mb-4 visitor-div">
                        <h3>For Visitors</h3>
                        <p>1. Browse mentor profiles and find someone who matches your goals.</p>
                        <p> 2. View their available time slots.</p>
                        <p> 3. Select a slot and submit your booking request.</p>
                        <p> 4. Receive confirmation and get connected with your Mentor.</p>
                    </div>
                    <div class="col-12 text-center">
                        <div class="row justify-content-center">
                            <div class="col-12 mb-4 mentor-div">
                                <h3>For Mentors</h3>
                                <p> 1. Sign up.</p>
                                <p> 2. Create and submit your mentor profile.</p>
                                <p> 3. Set your availability by choosing dates and time slots.</p>
                                <p> 4. Review booking requests from visitors.</p>
                                <p> 5. Confirm sessions, contact your Mentee and manage your bookings in one place.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- index.html content ends here -->
{% endblock %}