{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block profile%}

<!-- Profile image -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center" id="intro">
                <div class="card" style="width: 18rem;">
                    {% if "placeholder" in profile.featured_image.url %}
                    <img id="detailed-image" src="{% static 'images/nobody.jpg' %}" class="card-img-top"
                        alt="Profile-picture">
                    {% else %}
                    <img id="detailed-profile-image" src="{{ profile.featured_image.url }}" class="card-img-top"
                        alt="Image of {{ profile.user }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About & Skill section -->
<section class="my-5" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Name: {{profile.name}} </p>
                <h3>{{profile.excerpt}}</h3>
                <hr>
                <p>{{profile.bio}}</p>
                <p>Skills: {{profile.specialism}}</p>
                <p>Experince: {{profile.experience}}</p>
                <p>Member since {{profile.member_since}}</p>
            </div>
        </div>
    </div>
</section>
<!-- Edit and delete profile-->
<section class="my-5" id="edit">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if user.is_authenticated and user.mentor_profile.status == 1 and profile.user == user %}
                <a type="button" class="btn btn-edit btn-primary me-5" href="{% url 'edit_profile' %}">Edit
                    Profile</a>
                <button type="button" class="btn btn-edit btn-primary" id="delete">Delete
                    Profile</button>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Availability section  -->
<section id="avilability">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for date, slots in grouped_by_date.items %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{date}}
                    </button>
                    <ul class="dropdown-menu">
                        {% for slot in slots %}
                        <li><a class="dropdown-item" href="#">{{slot.start_time}} - {{slot.end_time}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Confirmation modal on delete -->
<div class="modal" tabindex="-1" id="modalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Profile Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>We are sad to see yo go! Are you sure you want to delete your Profile?</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" href="{% url 'profile_delete' profile.slug %}">Yes,
                    Delete</a>
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">No stay here</a>
            </div>
        </div>
    </div>
</div>
{% endblock profile%}
{% block extras %}
<script src="{% static 'js/profile_delete.js' %}"></script>
{% endblock %}