{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% if user.is_authenticated %}
            <h3>What mentees should know about you:</h3>
            <form method="post">
                {% csrf_token %}
                {{ profile_form|crispy }}
                <button type="submit" class="btn btn-signup btn-primary nav-bar-btn">Submit</button>
            </form>

            {% else %}
            <p>Log in to leave a comment</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}