{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<!-- Display crispy form -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% if user.is_authenticated %}
            <h3 class="text-center"> What mentees should know about you:</h3>
            <form method="post">
                {% csrf_token %}
                {{ profile_form|crispy }}
                <h2>Set your availability:</h2>
                {{ availability_form.management_form }}
                <div class="col-3 text-center" id="slot-forms">
                    {{availability_form|crispy}} 
                </div>
                <button type="submit" class="btn btn-signup btn-primary nav-bar-btn">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}