{% extends 'base.html' %}
{% load static %}

{% block profile%}

<!-- Profile image -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center" id="intro">
                <div class="card" style="width: 18rem;">
                    <img id="detailed-image" src="{% static 'images/nobody.jpg' %}" class="card-img-top"
                        alt="Profile-picture">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About & Skill section -->
<section class="my-5" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Name: {{profile.name}} </p>
                <h3>{{profile.excerpt}}</h3>
                <hr>
                <p>{{profile.bio}}</p>
                <p>Skills: {{profile.specialism}}</p>
                <p>Member since {{profile.member_since}}</p>
            </div>
        </div>
    </div>
</section>
<!-- Availability section  -->
<section id="avilability">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for date, slots in grouped_by_date.items %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{date}}
                    </button>
                    <ul class="dropdown-menu">
                        {% for slot in slots %}
                        <li><a class="dropdown-item" href="#">{{slot.start_time}} - {{slot.end_time}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock profile%}