{% extends "base.html" %}
{% load static %}


{% block content %}
<section id="not-found" class="text-center position-absolute top-50 start-50 translate-middle">
    <div class="container">
    <div class="row">
        <div class="col-12">
            <div>
            <h2 class="display-3">Error 404!</h2>
            <p class="display-6 sub-heading-color">Page not found</p>
            <a type="submit" class="btn btn-secondary" href="{{ home_url }}">Take me back</a>
            </div>
         </div>
    </div>
    </div>
</section>
{% endblock content %}