/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS variables */
:root {
    --primary-font: "Zalando Sans Expanded", sans-serif;
    --secondary-font: "Manrope", sans-serif;
    --accent-font: "Anton", sans-serif;
    --primary-color: #fff;
    --secondary-color: #141622;
    --accent-color: #a3fda7;
    --secondary-accent: #222629;
}


body {
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    color: var(--secondary-accent);
    margin: 10px 20px;
}

.divider{
    margin: 50px 0;
}

.active{
    color: var(--primary-color);
}

/* Hero section */
#hero-title{
    color: var(--secondary-color);
    font-family: var(--accent-font);
}

#hero-sub{
    color: var(--secondary-color);
    background-color: var(--accent-color);
    border-radius: 20px;
    font-family: var(--primary-font);
    letter-spacing: 2px;
    font-weight: bolder;
}


/* Navbar */
.brand {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-weight: 600;
}

.brand:hover{
    color: white;
    font-weight: bolder;
}

.navbar {
    font-weight: bolder;
    background-color: var(--accent-color);
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    margin: 10px 20px;
    padding-left: 10px;
}

.nav-bar-btn {
    background-color: var(--secondary-accent);
    margin-right: 2px;
    border: 1px solid var(--accent-color);
}

.nav-bar-btn:hover{
    color: var(--secondary-accent);
}

#nav-container{
    margin-left: 0px;
    margin-right: 0px;
}

.nav-link{
    color: var(--secondary-accent);
}


.about:hover{
    font-weight: bolder;
}

#home:hover{
    font-weight: bolder;
}
/* Market */
.card{
    border-radius: 20px;
    border: var(--secondary-accent) solid 2px;
    box-shadow:
    0 4px 12px rgba(0,0,0,0.75);

}

#mentor-card {
    max-width: 280px;
    margin: 0 auto; /* centers cards */
    border-radius: 16px;
    overflow: hidden;
}

#profile-image{
    height: 220px;
    object-fit: cover;
    border-radius: 16px;
    padding: 5px;
}

.card-btn{
    background-color: var(--secondary-accent);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}

.btn:hover{
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.page-link{
    border-radius: 20px;
    background-color: white;
    color: black;
}

.page-link:hover{
    color: white;
    background-color: var(--accent-color);
}

/* About section */
#about{
    background-color: var(--accent-color);
    border-radius: 20px;
    max-width: 80vw;
    margin-left: 10vw;
    box-shadow:
    0 4px 12px rgba(0,0,0,0.75);
}

/* How to */
#how-to{
    background-color: var(--accent-color);
    border-radius: 20px;
    max-width: 80vw;
    margin-left: 10vw;
    box-shadow:
    0 4px 12px rgba(0,0,0,0.75);
}

.visitor-div{
    border: 1px solid var(--secondary-accent);
    border-radius: 20px;
    max-width: 500px;
    box-shadow:
    0 4px 12px rgba(0,0,0,0.25);
}

.mentor-div{
     border: 1px solid var(--secondary-accent);
     border-radius: 20px;
     max-width: 500px;
     box-shadow:
    0 4px 12px rgba(0,0,0,0.25);
}

/* Profile_view */

#intro{
    margin-top: 50px;
    padding-top: 4rem;
    height: 30vh;
    background-color: var(--secondary-accent);
    border-radius: 20px;
}

#detailed-image{
    border-radius: 20px;  
    object-fit: cover;
    
}

#detailed-profile-image{
    border-radius: 20px; 
    object-fit: cover;
    position: relative;
    bottom: 2px;
}

/* Media queries */

@media screen and (max-width: 320px) {
    .navbar{
        border-radius: 30px;
        margin: 20px 6px;
    }

    .brand{
        margin-right: 0px;
    }

    #detailed-profile-image{
        height: 256px;
        width: 256px;  
        padding-bottom: 10px;
    }

    .btn-edit{
        margin-bottom: 10px;;
    }

}

@media screen and (max-width: 921px) {
    .navbar-toggler-icon{
        color: white;
    }

    .navbar-toggler{
        border: none;
    }

}

@media screen and (min-width: 321px) and (max-width: 767px) {
   #skills{
       position: relative;
       top: 50px;
   }

   #detailed-profile-image{
        height: 290px;
        width: 290px;  
        padding-bottom: 10px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1440px) {
     #skills{
       position: relative;
       top: 50px;
   }

   #detailed-profile-image{
        height: 300px;
        width: 300px;  
    }

}